@import url("../css/general.css");

.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease;
  z-index: 998;
}

.overlay.show {
  opacity: 1;
  visibility: visible;
}

.modal-window {
  position: fixed;
  max-width: 400px;
  width: 100%;
  /* height: 514px; */
  top: 50%;
  left: 50%;
  border-radius: 20px;
  background: #ECF3F8;
  display: flex;
  flex-direction: column;
  /* Убираем за пределы экрана */
  transform: translate(-50%, -50%) translateX(300%);
  transition: transform 0.3s ease;
  z-index: 999;
}

.modal-window.show {
  transform: translate(-50%, -50%) translateX(0);
  opacity: 1;
}

.modal-div {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.gifts-img{
  background: url("../img/gift-for-work.png") center no-repeat;
  background-size: cover;
  width: 100%;
}

.modal-description {
  display: flex;
  padding: var(--Space-20, 20px);
  flex-direction: column;
  gap: var(--Space-20, 20px);
  width: 100%;

  border-radius: 20px;
  background: #FFF;
}
.modal-top {
  display: flex;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-8, 8px);
  align-self: stretch;
}
.header4b {
  color: black;
}
.h3 {
  align-self: stretch;
}
p {
  color: #181C29;

  /* Paragraph */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */

  align-self: stretch;
}
.modal-bottom {
  display: flex;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-8, 8px);
  align-self: stretch;
}
.rating { /* список суперсил */
  display: flex;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  gap: var(--Space-0, 0px);
  align-items: flex-start;
  justify-content: flex-end;
  width: 100%;

}
.power {
  color: #181C29;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr auto auto;
  align-items: center;
  column-gap: 8px;
  /* padding-top: 2px; */
}

.s500{
  padding-top: 0px;
  padding-right: 5px;
}

.snowflakes {
  display: flex;
  padding: var(--Space-0, 0px);
  gap: var(--Space-8, 8px);
  /* justify-self: auto; */

}
#close-btn {
  position: absolute;
  right: 12px;
  top: 12px;
  width: 40px;
  height: 40px;
}
