@font-face {
  font-family: "Allura";
  src: url("../fonts/Allura-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.ttf") format("truetype");
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/Montserrat-SemiBold.ttf") format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  width: 100%;
  scroll-behavior: smooth;
}

body {
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

section {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: auto;
  color: #fff;
  padding: 0px 0px;
  margin: 0 0;
}

h1 {
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%;
  letter-spacing: 5.76px;
  text-transform: uppercase;
  padding: 0px 0px;
  margin: 0;
}

.header4 {
  color: var(--Static-White, #fff);
  text-align: center;

  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%;
  letter-spacing: 0.6px;
  text-transform: uppercase;
  margin: 0;
}

h3 {
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 1.28px;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  margin: 0;
  color: var(--Static-White, #fff);
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%;
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
}

.no-pointer {
  cursor: default;
}
