@import url("../css/header.css");
@import url("../css/footer.css");
@import url("../css/general.css");

.hero {
  background: 
  url('../img/bg-snow.png') center / cover ,
  url('../img/bg-ball.png') center / cover, #FF4646;
  background-repeat: no-repeat, no-repeat;
  padding: 60px 8px;
  border-radius: 20px 20px 0px 0px;
  width: 100%;
}

.hero-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;  /* коррект*/
  max-width: 426px;
  row-gap: 12px;
}

.hero-div div {
  display: block; /* Превращаем div в строчный блок внутри <p> */
}


/* .hero-text-caption{
  color: #FFF;
  text-align: center;
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: 1.2px;
  align-self: stretch;
} */

.button {
  display: flex;
  padding: 20px 32px;
  align-items: center;
  gap: 0px;
  border-radius: 20px;
  background: #181C29;
  color: #FFF;
  /* margin: 12px 0; не нужен потому что есть row-gap*/ 
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}

/* .button:hover {
  background-color: #FFF;
  color: black;
} */

.btn-text{
  /* text-align: center; */

  /* Action Small */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}


.about{
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  background: url('../img/bg-snow.png') center / cover , #FF4646;
  width: 100%;
  /* scroll-behavior: smooth; */
}

.about-div{
  display: flex;
  max-width: 1276px;
  padding: 0px;
  align-items: center;
  border-radius: 20px;
  background: #FFF;
  width: 100%;
}

.about-txt{
  display: flex;
  padding: var(--Space-0, 0px) var(--Space-60, 60px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-0, 0px);
  width: 50%;
}

.about-img{
  background: url('../img/santa.png') center no-repeat; 
  background-size: cover;
	width: 50%;
  /* max-width: 638px; */
  height: 528px;
  border-radius: 20px;
}

@media screen and (max-width: 605px){
  .about-div{
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 20px;
    background: #FFF;
    width: 100%;
  }

  .about-txt{
    padding: 0px 20px;
    width: 100%;
  }

  .about-img{
    width: 100%;
  }
}

.about-txt2{
  display: flex;
  max-width: 426px;
  padding: var(--Space-60, 60px) var(--Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-20, 20px);
  align-self: stretch;
}

.about-caption{
  align-self: stretch;
  color: var(--Primary, #FF4646);

  /* Caption */
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;

}

.about-header2{
  align-self: stretch;
  color: var(--Dark, #181C29);

  /* Header 2 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.about-p{
  align-self: stretch;
  color: var(--Dark, #181C29);

  /* Paragraph */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */
}


.slider{
  background: url('../img/bg-snow.png') center / cover , #FF4646;
  display: flex;
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-0, 0px);
  /* align-self: stretch; */
	overflow: scroll; /* Прокрутка */
	scrollbar-width: none; /* спрятали прокрутку */
 /* width: 100%; /* не помогло */
}

.slider-div{
  display: flex;
  max-width: 1276px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-20, 20px);
  width: 100%;
  /* align-self: stretch; */
}

.slider-head{
  display: flex;
  max-width: 426px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-12, 12px);
  /* align-self: stretch; */
}

.caption{
  /* align-self: stretch; */
  color: var(--Static-White, #FFF);
  text-align: center;

  /* Caption */
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
	/* padding-bottom: 12px; correct */
	/* margin-top: 100px 0; */
}

.header2{
  /* align-self: stretch; */
  color: var(--Static-White, #FFF);
  text-align: center;
	margin: 0;

  /* Header 2 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.slider-row{
  display: flex;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: var(--Space-0, 0px);
  align-self: flex-start;
}

.slider-slider{
  display: flex;
  padding: var(--Space-0, 0px);
  align-items: center;
  justify-content: flex-start;
  gap: var(--Space-20, 20px);
  width: max-content;
}

.slider-img{
  /* display: flex; */
  width: 200px;
  height: 200px;
  padding: var(--Space-0, 0px);
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  gap: var(--Space-0, 0px);
  border-radius: 20px;
}

.slider-txt{
  color: var(--Static-White, #FFF);
text-align: center;

/* Slider Text */
font-family: Montserrat-SemiBold;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.slider-buttons{
  display: flex;
  padding: var(--Space-0, 0px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--Space-20, 20px);
  align-self: flex-end;
}

.slider-button{
  display: flex;
	width: 56px;
	height: 56px;
	padding: var(--Space-0, 0px);
	justify-content: center;
	align-items: center;
	gap: var(--Space-0, 0px);
	border-radius: 20px;
	border: 1px solid var(--Static-White-40, rgba(255, 255, 255, 0.40));
	opacity: 1;
}

.slider-button-activ{
	transition: background-color 0.3s ease-in-out, border-color 0.3s ease-in-out;
}

/* .slider-button-activ:hover{
	background-color: #fff;
}
.slider-button-activ:hover svg path{
	stroke: #ff4646;
	transition: stroke 0.3s ease;
} */

/* .slider-button-inactive{
	opacity: 0.4;
} */


.slider-foot{
  display: flex;
  padding: var(--Space-0, 0px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--Space-20, 20px);
  align-self: stretch;
}


.best{
  background: url('../img/bg-snow.png') center / cover no-repeat, #FF4646;
  display: flex;
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-0, 0px);
  align-self: stretch;
  /* border: 1px solid #000; */
}

.best-div{
  display: flex;
	max-width: 1276px;
	padding: var(--Space-0, 0px);
	flex-direction: column;
	align-items: center;
	gap: var(--Space-20, 20px);
	/* align-self: stretch; */
}

.best-cards{
  display: flex;
	padding: var(--Space-0, 0px);
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: var(--Space-12, 12px);
	align-self: stretch;
	flex-wrap: wrap;
}

.best-card{
  display: flex;
  width: 310px;
  height: 342px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-0, 0px);
  border-radius: 20px;
  background: var(--Content-Background, #ECF3F8);
}

.best-img{
	display: flex;
	width: 310px;
	height: 230px;
	padding: var(--Space-0, 0px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--Space-0, 0px);
	flex-shrink: 0;
}

.best-card-footer{
  display: flex;
  padding: var(--Space-20, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-8, 8px);
  flex: 1 0 0;
  align-self: stretch;
  border-radius: 20px;
  background: var(--Static-White, #FFF);
}

.text-line-clamp{ 
	/* для header3 */
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* максимальное количество строк текста */
  line-clamp: 2; 
  overflow: hidden;
  color: var(--Dark, #181C29);
  text-overflow: ellipsis;

  align-self: stretch;
}

.cta {
  background: url('../img/bg-snow.png') center / cover no-repeat,
	url('../img/bg-forest.png') center / cover no-repeat, #FF4646;
	display: flex;
  flex-direction: column;
	padding: 60px 8px;
  /* justify-content: center; */
	/* gap: 0px; */
	border-radius: 0px 0px 20px 20px;
  /* height: 668px; */
  /* margin: 0 auto; */
  max-width: 1440px;
  width: 100%;
}

.cta-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1276px; */
  padding: var(--Space-60, 60px) var(--Space-0, 0px);
  /* gap: var(--Space-0, 0px); */
  border-radius: 20px;
  width: 100%;
}

.cta-div-inner{
  display: flex;
  max-width: 426px;
  padding: var(--Space-60, 60px) var(--Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.cta-div-inner .button {
  margin: -3px 0 0px 0;
}

.cta-timer{
  display: grid;
  grid-template-columns: repeat(4, 1fr auto);
  padding: 10px 12px 12px 12px;
  background: rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  /* align-items: center; */
  justify-items: center; /* работает */
  gap: 0px;
  width: 340px;
  margin-top: 8px;
}

.cta-sep{
	position: relative;
	border-left: 1px solid #FFF;
	width: 0px;
	height: 20px;
}

.cta-timer-item{
  color: #FFF;
  /* justify-content: center; */
  justify-items: center; /* работает */
}

.cta-timer2{
  display: flex;
	/* flex-direction: row; */
  padding: 8px 12px 12px 12px;
  align-items: center;
  /* gap: var(--Space-0, 20px); */
  border-radius: 20px;
  background: var(--Static-White-40, rgba(255, 255, 255, 0.40));
	justify-content: flex-start; /* Центрируем все элементы в контейнере */
	margin: 0;
}

.cta-timer-item2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80px;
	height: 100%;
}

.visually-hidden {
  /* Для скрытых элементов(заголовков) */
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; 
	border: 0;
}

@media (pointer: fine) and (hover: hover) { 
  .slider-button-activ:hover{
    cursor: pointer;
    background-color: #fff;
  }
  .slider-button-activ:hover svg path{
    stroke: #ff4646;
    transition: stroke 0.3s ease;
  }

  .button:hover {
    background-color: #FFF;
    color: black;
    cursor: pointer;
  }

  .best-card:hover{
    cursor: pointer;
    color: red;
  }
}

 
