@font-face {
  font-family: 'Allura';
  src: url('../fonts/Allura-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat';
  src: url('../fonts/Montserrat-Regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  src: url('../fonts/Montserrat-SemiBold.ttf') format('truetype');
}

*{
  margin: 0;
  padding: 0;
}

html {
  display: flex;
  justify-content: center;
  width: 100%;
  min-width: 1440px;
  box-sizing: border-box;
	scroll-behavior: smooth;
}

/* body {
  width: 1440px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;

  margin: auto;
  padding: 0;
} */
.wrapper{
	max-width: 1440px;
	margin: 0 auto;
}

main{
	max-width: 1440px;
}

header{
	display: flex;
	padding: var(--Space-0, 0px) var(--Space-8, 8px);
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: var(--Space-0, 0px);
	/* align-self: stretch; */
}

section {
	display: flex;
	align-items: center;
	justify-content: center; /* Центрируем по горизонтали */
	/* text-align: center; */
}

.nav {
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;

  display: flex;
  max-width: 1276px;
  padding: 12px  0px;
  justify-content: space-between;
  align-items: center;
	width: 100%;
  gap: 12px;
  /* align-self: stretch; */
}

.nav-bar{
  display: flex;
  padding: 0px;
  justify-content: flex-end;
  align-items: center;
  gap: 0px;
  flex: 1 0 0;
  align-self: stretch;
}

.nav-left-item{
  display: flex;
  padding: 8px 20px;
  align-items: center;
  gap: 8px;
}

.nav-item{
  display: flex;
  padding: 12px 24px; /* коррект */
  justify-content: center;
  align-items: center;
  gap: 0px;
}

a {
  text-decoration: none; /* Убирает подчёркивание */
  color: inherit;
}

.main {
	/* align-items: center; */
  margin: 0 ;
}

.hero {
  border-radius: 20px 20px 0px 0px;
  background: 
  url('../img/bg-snow.png') center / cover ,
  url('../img/bg-ball.png') center / cover, #FF4646;
  background-repeat: no-repeat, no-repeat;
  padding: 60px 8px;
  display: flex;
  justify-content: center;
  /* height: 524px; */
}

.hero-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 60px 0;  /* коррект*/
  max-width: 426px;
  row-gap: 12px;
}

.header1{
  display: flex;
  flex-direction: column;
  justify-content: center; 
   align-items: center;
  text-align: center;
  /* gap: 12px; */
  margin: auto;
  color: #FFF;
  /* align-self: stretch; */
  padding: 0px 0px;
  margin: 0 0;
}

h1{
  font-family: Montserrat;
  font-size: 32px;
  font-style: normal;
  font-weight: 600;
  line-height: 150%; /* 48px */
  letter-spacing: 5.76px;
  text-transform: uppercase;
  padding: 0px 0px;
  margin: 0;
}

/* .hero-text-caption{
  color: #FFF;
  text-align: center;
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; 
  letter-spacing: 1.2px;
  align-self: stretch;
} */

.button {
  display: flex;
  padding: 20px 32px;
  align-items: center;
  gap: 0px;
  border-radius: 20px;
  background: #181C29;
  color: #FFF;
  /* margin: 12px 0; не нужен потому что есть row-gap*/ 
  transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
}

.button:hover {
  background-color: #FFF;
  color: black;
}

.btn-text{
  /* text-align: center; */

  /* Action Small */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
}


.about{
  display: flex;
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-0, 0px);
  align-self: stretch;
  background: url('../img/bg-snow.png') center / cover , #FF4646;
  /* border: 1px solid #000; */
}

.about-div{
  display: flex;
  max-width: 1276px;
  padding: 0px;
  align-items: center;
  gap: 0px;
  flex: 1 0 0;
  border-radius: 20px;
  background: #FFF;
}

.about-txt{
  display: flex;
  padding: var(--Space-0, 0px) var(--Space-60, 60px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-0, 0px);
  flex: 1 0 0;
  align-self: stretch;
}

.about-txt2{
  display: flex;
  max-width: 426px;
  padding: var(--Space-60, 60px) var(--Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-20, 20px);
  align-self: stretch;
}

.about-caption{
  align-self: stretch;
  color: var(--Primary, #FF4646);

  /* Caption */
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;

}

.about-header2{
  align-self: stretch;
  color: var(--Dark, #181C29);

  /* Header 2 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.about-p{
  align-self: stretch;
  color: var(--Dark, #181C29);

  /* Paragraph */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */
}

.about-img{
	/* background: url('./img/santa.png') center / cover;  */
  display: flex;
	/* width: 638px;
  height: 528px; */
  padding: var(--Space-0, 0px);
  flex-direction: column;
  /* justify-content: center;
  align-items: center; */
  gap: var(--Space-0, 0px);
  /* flex: 1 0 0; */
  border-radius: 20px;
	overflow: hidden;
}

.slider{
  background: url('../img/bg-snow.png') center / cover , #FF4646;
  display: flex;
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-0, 0px);
  align-self: stretch;
	overflow: scroll; /* Прокрутка */
	scrollbar-width: none; /* спрятали прокрутку */
}

.slider-div{
  display: flex;
  max-width: 1276px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-20, 20px);
  /* align-self: stretch; */
}

.slider-head{
  display: flex;
  max-width: 426px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-12, 12px);
  /* align-self: stretch; */
}

.caption{
  /* align-self: stretch; */
  color: var(--Static-White, #FFF);
  text-align: center;

  /* Caption */
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
	/* padding-bottom: 12px; correct */
	/* margin-top: 100px 0; */
}

.header2{
  /* align-self: stretch; */
  color: var(--Static-White, #FFF);
  text-align: center;
	margin: 0;

  /* Header 2 */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.slider-row{
  display: flex;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-0, 0px);
  align-self: stretch;
}

.slider-slider{
  display: flex;
  padding: var(--Space-0, 0px);
  align-items: center;
  gap: var(--Space-20, 20px);
}

.slider-img{
  display: flex;
  width: 200px;
  height: 200px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Space-0, 0px);
  border-radius: 20px;
}

.slider-txt{
  color: var(--Static-White, #FFF);
text-align: center;

/* Slider Text */
font-family: Montserrat-SemiBold;
font-size: 80px;
font-style: normal;
font-weight: 600;
line-height: normal;
text-transform: uppercase;
}

.slider-buttons{
  display: flex;
padding: var(--Space-0, 0px);
justify-content: flex-end;
align-items: center;
gap: var(--Space-20, 20px);
align-self: stretch;
}

.slider-button{
  display: flex;
	width: 56px;
	height: 56px;
	padding: var(--Space-0, 0px);
	justify-content: center;
	align-items: center;
	gap: var(--Space-0, 0px);
	border-radius: 20px;
	border: 1px solid var(--Static-White-40, rgba(255, 255, 255, 0.40));
	opacity: 1;
}

.slider-button-activ{
	transition: background-color 0.5s ease-in-out, border-color 0.5s ease-in-out;
}

.slider-button-activ:hover{
	background-color: #fff;
}
.slider-button-activ:hover svg path{
	stroke: #ff4646;
	transition: stroke 0.5s ease;
}

/* .slider-button-inactive{
	opacity: 0.4;
} */


.slider-foot{
  display: flex;
  padding: var(--Space-0, 0px);
  justify-content: flex-end;
  align-items: center;
  gap: var(--Space-20, 20px);
  align-self: stretch;
}


.best{
  background: url('../img/bg-snow.png') center / cover no-repeat, #FF4646;
  display: flex;
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-0, 0px);
  align-self: stretch;
  /* border: 1px solid #000; */
}

.best-div{
  display: flex;
	max-width: 1276px;
	padding: var(--Space-0, 0px);
	flex-direction: column;
	align-items: center;
	gap: var(--Space-20, 20px);
	/* align-self: stretch; */
}

.best-cards{
  display: flex;
	padding: var(--Space-0, 0px);
	justify-content: center;
	align-items: flex-start;
	align-content: flex-start;
	gap: var(--Space-12, 12px);
	align-self: stretch;
	flex-wrap: wrap;
}

.best-card{
  display: flex;
  width: 310px;
  height: 342px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-0, 0px);
  border-radius: 20px;
  background: var(--Content-Background, #ECF3F8);
}

.best-card:hover{
  cursor: grab;
  color: red;
}

.best-img{
	display: flex;
	width: 310px;
	height: 230px;
	padding: var(--Space-0, 0px);
	flex-direction: column;
	justify-content: center;
	align-items: center;
	gap: var(--Space-0, 0px);
	flex-shrink: 0;
}


.best-card-footer{
  display: flex;
  padding: var(--Space-20, 20px);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--Space-8, 8px);
  flex: 1 0 0;
  align-self: stretch;

  border-radius: 20px;
  background: var(--Static-White, #FFF);
}

.header4{
  color: var(--Static-White, #FFF);
  text-align: center;

  /* Header 4 */
  font-family: Montserrat;
  font-size: 12px;
  font-style: normal;
  font-weight: 600;
  line-height: 130%; /* 15.6px */
  letter-spacing: 0.6px;
  text-transform: uppercase;
	margin: 0;
}

h3{
  /* Header 3 */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 24.32px */
  letter-spacing: 1.28px;
  text-transform: uppercase;
	margin: 0;
}

h2{
	margin: 0;
  color: var(--Static-White, #FFF);
/* Header 2 */
font-family: Montserrat;
font-size: 24px;
font-style: normal;
font-weight: 600;
line-height: 152%; /* 36.48px */
letter-spacing: 3.84px;
text-transform: uppercase;
}

.text-line-clamp{ 
	/* для header3 */
	display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2; /* максимальное количество строк текста */
  line-clamp: 2; 
  overflow: hidden;
  color: var(--Dark, #181C29);
  text-overflow: ellipsis;

  align-self: stretch;
}


.cta {
  background: url('../img/bg-snow.png') center / cover no-repeat,
	url('../img/bg-forest.png') center / cover no-repeat, #FF4646;
	width: 100vw; /* 100%;/* 1424px; */
	display: flex;
  flex-direction: column;
	padding: 60px 8px;
	align-items: center;
  justify-content: flex-start;
	gap: 0px;
	border-radius: 0px 0px 20px 20px;
  /* height: 668px; */
  margin: 0 auto;
  max-width: 1424px;
}

.cta-div{
  display: flex;
  flex-direction: column;
  align-items: center;
  /* max-width: 1276px; */
  padding: var(--Space-60, 60px) var(--Space-0, 0px);
  gap: var(--Space-0, 0px);
  border-radius: 20px;
  width: 100%;
}

.cta-div-inner{
  display: flex;
  max-width: 426px;
  padding: var(--Space-60, 60px) var(--Space-0, 0px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


.cta-div-inner .button {
  margin: -3px 0 0px 0;
}

.cta-timer{
  display: grid;
  grid-template-columns: repeat(4, 1fr auto);
  padding: 10px 12px 12px 12px;
  background: rgba(255, 255, 255, 0.40);
  border-radius: 20px;
  align-items: center;
  justify-items: center; /* работает */
  gap: 0px;
  width: 320px;
  margin-top: 8px;
}

.cta-sep{
	position: relative;
	border-left: 1px solid #FFF;
	width: 0px;
	height: 20px;
}

.cta-timer-item{
  color: #FFF;
  /* justify-content: center; */
  justify-items: center; /* работает */
}

.cta-timer2{
  display: flex;
	/* flex-direction: row; */
  padding: 8px 12px 12px 12px;
  align-items: center;
  /* gap: var(--Space-0, 20px); */
  border-radius: 20px;
  background: var(--Static-White-40, rgba(255, 255, 255, 0.40));
	justify-content: flex-start; /* Центрируем все элементы в контейнере */
	margin: 0;
}

.cta-timer-item2 {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-start;
	width: 80px;
	height: 100%;
}

.cta-timer-item-old {
	display: flex;
	flex-direction: column; /* Элементы располагаются в колонку */
	align-items: center;   /* Центрируем элементы внутри столбика */
	gap: 1px;             /* Расстояние между элементами в столбике */
	color: #FFF;
	margin: 0;
}

footer{
  display: flex;
  padding: var(--Space-60, 60px) var(--Space-8, 8px);
  flex-direction: column;
  align-items: center;
	justify-content: center;
  gap: var(--Space-0, 0px);
  /* align-self: stretch; */
  background: #FFF;
}

.footer-div{
  display: flex;
  max-width: 1276px;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-60, 60px);
	width: 100%; /* помогло */
}

.footer-div-top{
  display: flex;
  padding: var(--Space-0, 0px);
  justify-content: center;
  align-items: center;
  gap: var(--Space-12, 12px);
  align-self: stretch;
  border-radius: 60px;
}

/* .footer-div-top a{
  color: red;
} */

.footer-div1{
	text-decoration: none;
  display: flex;
  padding: var(--Space-20, 20px);
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: var(--Space-12, 12px);
  flex: 1 0 0;
	width: 100%; /* не помогает */

  border-radius: 20px;
  background: var(--Content-Background, #ECF3F8);
}

/* .footer-img{
	display: flex;
padding: var(--Space-20, 20px);
flex-direction: column;
justify-content: center;
align-items: center;
gap: var(--Space-12, 12px);
flex: 1 0 0;
border-radius: 20px;
background: var(--Content-Background, #ECF3F8);
} */

.footer-action{
  /* color: var(--Dark, #181C29); */
  text-align: center;
	white-space: nowrap;

  /* Action Large */
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 600;
  line-height: 152%; /* 36.48px */
  letter-spacing: 3.84px;
  text-transform: uppercase;
}

.footer-div1:hover{
  /* cursor: grab; */
  color: red;
}

.footer-div-bottom{
  display: flex;
  padding: var(--Space-0, 0px);
  flex-direction: column;
  align-items: center;
  gap: var(--Space-12, 12px);
  align-self: stretch;
}

.footer-div-socials{
  display: flex;
  padding: var(--Space-0, 0px);
  justify-content: center;
  align-items: flex-start;
  gap: var(--Space-12, 12px);
}

.footer-div-socials-div{
  display: flex;
  padding: var(--Space-8, 8px);
  justify-content: center;
  align-items: center;
  gap: var(--Space-0, 0px);
}

.footer-p{
  color: var(--Dark, #181C29);
  text-align: center;

  /* Paragraph */
  font-family: Montserrat;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 148%; /* 23.68px */
}

.footer-caption{
  color: var(--Dark, #181C29);
  text-align: center;

  /* Caption */
  font-family: Allura;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 100%; /* 24px */
  letter-spacing: 1.2px;
}

.footer-caption:hover{
  color: red;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	padding: 0;
	margin: -1px;
	overflow: hidden;
	clip: rect(0, 0, 0, 0);
	white-space: nowrap; /* Для предотвращения переноса текста */
	border: 0;
}

.icon:hover {
  fill: red; /* Изменяет цвет заливки */
}
